body{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    text: align justify 1.6px;
     background-image: url(forrasok/fooldal_forrasok/torino.png);
    background-size: cover;
    font-size: 23px;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.egesz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    background-color: aqua;
}
img{
    width: 100%;
}
a{
text-decoration: none;
text-align: center;
color: black;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
    background-color: aqua;
}
p{
    text-align: center;
}

@media screen and (max-width: 1000px) {
    article{
        grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}
@media screen and (max-width:600px) {
    article{
        grid-template-columns: 1fr;
    }
}